:root {
	--container-width: 1152px;
	--container-padding: 0px 16px;

	--font-sf-pro-display: "San Francisco Pro", sans-serif;
	--font-sf-pro-text: "San Francisco Pro Text", sans-serif;
	--font-inter: 'Inter', sans-serif;
	--font-figtree: 'Figtree', sans-serif;
	--font-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;

	--main-white: #fff;
	--main-black: #000;
	--secondary-charcoal: #2E2E2E;
	--light-grey: #B3B3B3;
	--secondary-grey: #656565;
	--text-grey: #909090;
}