.comments{
   background: var(--main-white);
   padding-bottom: 64px;
   &__body{
      position: relative;
   }
   &__row{
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-height: 856px;
   }
   &__overlay{
      position: absolute;
      bottom: -11px;
      width: 100%;
      height: 172px;
      background: linear-gradient(204deg, rgba(255, 255, 255, 0.00) 15.44%, #FFF 84.39%);
      opacity: 0.7;
   }
   &__view-more{
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
   }
}

.comment{
   border-radius: 10px;
   background: #FAFAFA;
   padding: 24px 28px 24px 16px;
   &__inner{
      display: flex;
      gap: 19px;
   }
   &__avatar{
      flex: 0 0 56px;
      height: 56px;
      overflow: hidden;
      border-radius: 56px;
   }
   &__info{

   }
}

.info-comment{
   &__inner{
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
   &__top{
      display: flex;
      justify-content: space-between;
   }
   &__name{
      color: var(--main-black);
      font-size: 17px;
      font-weight: 700;
      line-height: 141.176%;
   }
   &__date{
      opacity: 0.2;
      color: var(--main-black);
      text-align: right;
      font-size: 14px;
      font-weight: 500;
      line-height: 114.286%;
   }
   &__rate{
      display: flex;
   }
   &__text{
      color: #7E7E7E;
      font-size: 15px;
      font-weight: 500;
      line-height: 160%;
   }
   &__files{
      display: flex;
      gap: 8px;
   }
   &__file{
      flex: 0 1 118px;
   }
}