.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   background: var(--main-white);
   &__body {
      height: 88px;
      padding: 16px 0px;
      @media (max-width: 768px) {
         padding: 24px 0px;
      }
   }
   &__top {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue("gap", 32, 26);
   }
   &__burger {
      right: 20px;
      width: 40px;
      @media (min-width: 993px) {
         display: none;
      }
   }
}

.top-header {
   &__logo {
      flex: 0 0 96px;
   }
   &__search {
      min-width: 300px;
      height: 56px;
      flex: 1 1 433px;
      &-input {
         height: 24px;
      }
   }
   &__menu {
      flex: 1 0 340px;
   }
   &__features {
      flex: 1 0 144px;
   }
   &__content {
      flex: 1 1 auto;
      &-inner {
         display: flex;
         align-items: center;
         justify-content: space-between;
         @include adaptiveValue("gap", 32, 26);
      }
      @media (max-width: 992px) {
         display: none;
      }
   }
}

.menu-nav {
   &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue("gap", 52, 24);
      &-item {
         font-weight: 500;
         color: var(--light-grey);
         cursor: pointer;
         &.selected {
            color: var(--main-black);
         }
      }
   }
}

.features-menu {
   &__list {
      display: flex;
      align-items: center;
      @include adaptiveValue("gap", 24, 20);
      li {
         cursor: pointer;
      }
   }
}
